body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}
footer {
    background-color: hsl(220, 15%, 55%);
    color: white;
    font-family: Outfit, sans-serif;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
.qr-code {
    width: 85%;
    height:fit-content;
    margin: 10vh auto;
    background-color: white;
    border-radius: 1rem;
}
.qr-code img {
    width: 90%;
    margin: 5%;
    border-radius: 0.75rem;
}
.qr-code p {
    font-family: Outfit, sans-serif;
    text-align: center;
    width: 80%;
}
.title {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.3rem;
    margin: 10px auto;
}
.instruction {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin: 20px auto 0;
    padding: 0 0 40px;
}

@media (min-width: 400px) {
    .qr-code {
        width: 340px;
    }
}
